
<!--Peliculas en cartelera  -->
<app-carousel
  [nowPlayingMovies]="nowPlayingMovies"
  [imgRoot]="imgRoot"
></app-carousel>

<div class="micontainer">
  <!-- Paliculas populares -->
  
  <h1 
    class="titulo mt-4 bgdark"
    style="color: cornsilk;"
    >Peliculas Populares
  </h1>

  <hr style="background-color: floralwhite;"> 
  
  <app-cards
  [movies]="popularMovies"
  >
  </app-cards>

  <!-- Paliculas populares infantiles-->

  <h1 class="titulo bgdark" style="color:cornsilk;">Peliculas populares infantiles</h1>
  <hr style="background-color: floralwhite;"> 

  <div class="">
    <app-cards
      [movies]="childrenMovies"
    ></app-cards>
  </div>

</div>






